/* Global styles for the body */
body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
   background-image: url('images/musicnote.jpg');
   background-size: cover;
   background-position: center 50%;
   background-repeat: no-repeat;
   color: #fff;
}

/* Main content container */
.content-container {
   display: flex;
   justify-content: space-between;
   gap: 20px; /* Adjust the gap as needed */
   padding: 20px; /* Adjust the padding as needed */
   box-sizing: border-box;
}

/* Header styles */
header {
   background:transparent;
   color: #ad9247;
   padding: 1px;
   text-align: center;
}

/* Animation for the header text */
header h1 {
   color: transparent;
   animation: fadeInText 1s ease-in-out forwards;
}

@keyframes fadeInText {
   from {
      color: transparent;
      opacity: 0;
   }
   to {
      color: #fff;
      opacity: 1;
   }
}


/* Music symbol styles */
.music-symbol {
   font-size: 24px;
   margin-left: 10px;
}

/* Song list container styles */
#songListContainer {
   flex: 1; /* Takes the remaining space */
   border: 1px solid transparent; /* Make the border transparent */
   box-sizing: border-box;
}

/* Song list styles */
#songList {
   list-style: none;
   padding: 0;
   cursor: pointer;
   margin-bottom: 10px;
}

/* Individual song container styles */
.song-container {
   padding: 10px;
   border: 10px solid transparent; /* Make the border transparent */
   cursor: pointer;
   margin-bottom: 10px;
   position: relative;
}

/* Apply light gray padding to the text within .song-container */
.song-container p {
   padding: 20px;
   background-color: #fff; /* Light gray color */
}

/* Details container styles */
#songDetails {
   width: 300px; /* Set a fixed width */
   border: 1px solid transparent; /* Make the border transparent */
   padding: 20px;
   box-sizing: border-box;
}

/* Footer styles */
footer {
   text-align: center;
   padding: 10px;
   background: transparent;
   color: #fff;
   margin-top: 100px;
}

/* Clear button styles */
#clearButton {
   border: none;
   background: #333;
   color: white;
   font-size: 10px;
   cursor: pointer;
   padding: 8px 10px;
   border-radius: 5px;
   border: 1px solid transparent; /* Make the border transparent */
   transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#clearButton:hover {
   background-color: #646134;
   color: white;
   border-color: transparent; /* Make the border transparent */
}

/* Search bar styles */
#searchBar {
   padding: 4px;
   height: 20px;
   border: none;
   border-radius: 5px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
   font-size: 10px;
   width: auto;
   transition: box-shadow 0.3s;
   margin-bottom: 10px;
}

#searchBar:focus {
   outline: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pagination styles */
#pagination {
   text-align: left;
   margin-top: 80px;
}

#pagination button {
   background-color: #646134;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 1px 5px;
   margin: 5px;
   cursor: pointer;
   font-size: 10px;
}

#pagination button:hover {
   background-color: #333;
}

#pagination button:focus {
   outline: none;
}
/* Created By: Destiny Hernandez */
