/* Flexbox layout for the overall content */
body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}

.content-container {
   flex: 1; /* Takes the available vertical space */
   display: flex;
}

/* Styling for the header */
header {
   background-color: #4c0000;
   color: #fff;
   padding: 10px;
   text-align: center;
}

/* Animation for the header text */
header h1 {
   color: transparent; /* Set text color to transparent */
   animation: fadeInText 1s ease-in-out forwards; /* Apply animation to the h1 element */
}

@keyframes fadeInText {
   from {
      color: transparent; /* Start with transparent text */
      transform: translateY(-20px);
   }
   to {
      color: #fff; /* Gradually change to white text */
      transform: translateY(0);
   }
}   

/* Styling for the music symbol */
.music-symbol {
   font-size: 24px; /* Adjust the size as needed */
   margin-left: 10px; /* Add some spacing from the text */
}

/* Styling for the song list container */
#songListContainer {
   width: 300px;
   padding: 20px;
   border-right: 1px solid #ccc;
   box-sizing: border-box;
}

/* Styling for the song list */
#songList {
   list-style: none;
   padding: 0;
   cursor: pointer;
   margin-bottom: 10px;
}

/* Styling for individual song containers */
.song-container {
   padding: 10px;
   border: 1px solid #ccc;
   cursor: pointer;
   margin-bottom: 10px;
}

/* Styling for the song details section */
#songDetails {
   padding: 20px;
   overflow: hidden; /* Clear float */
}

/* Styling for the footer */
footer {
   text-align: center;
   padding: 10px;
   background-color: #4c0000;
   color: #fff;
}

/* Styling for the "Clear" button */
#clearButton {
   border: none;
   background: none;
   color: #333; /* Text color */
   font-size: 10px;
   cursor: pointer;
   padding: 5px 10px;
   border-radius: 5px;
   border: 1px solid #333;
   transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#clearButton:hover {
   background-color: #333;
   color: #fff;
   border-color: #333;
}

/* Styling for the search bar */
#searchBar {
   padding: 4px;
   height: 20px;
   border: none;
   border-radius: 5px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
   font-size: 10px;
   width: 50%;
   transition: box-shadow 0.3s;
   margin-bottom: 10px;
}

#searchBar:focus {
   outline: none;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pagination styles */
#pagination {
   text-align: center;
   margin-top: 20px;
}

#pagination button {
   background-color: #4c0000;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 5px 5px;
   margin: 5px;
   cursor: pointer;
   font-size: 10px;
}

#pagination button:hover {
   background-color: #333;
}

#pagination button:focus {
   outline: none;
}
/* Created By: Destiny Hernandez */